* {
  color: rgb(176, 255, 199);
  background-color: rgb(57, 53, 80);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

header li {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  text-align: center;
}

main {
  position: relative;
  top: 40px;
  width: 100%;
  height: 90vh;
  border: 1px solid yellow;
}

.intro {
  max-width: 50%;
  margin: 0 auto;
  border: 1px solid red;
}

#pfp {
  display: block;
  border-radius: 100%;
  max-width: 100%;
  margin: 0 auto;
}

